{% load staticfiles %}
<div class="container">
<footer class="footer font-small blue pt-4 mt-4">
  <!--Footer Links-->
  <div class="container text-center text-md-left">
    <div class="row">
      <!--First column-->
      <div class="col-xs-12 col-md-6">
        <h5 class="text-uppercase">About</h5>
        <p>Source: http://discovery.skycoin.net:8001/#/ <br>
        Updated approx. every 5 minutes. Data may not be accurate. <br>
        Uptime % calculated since 1st of the actual month at 0:00 a.m. (GMT) <br>
        </p>
      </div>
      <!--/.First column-->
      <!--Second column-->
{#      <div class="col-xs-12 col-md-6">#}
{#        <h5 class="text-uppercase">Other</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li>#}
{#            <a href="{% url 'status-checker:uninterruptedly'%}">Top online nodes</a>#}
{#          </li>#}
{#          <li>#}
{#        </ul>#}
{#      </div> #}
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
   <i class="fas fa-laptop" aria-hidden="true" style="color:green;"></i> by Ivan Payan
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
</div>




