{% load staticfiles %}
<nav class="navbar navbar">
  <div class="container">
    <div class="navbar-header">
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <a class="navbar-brand" href="/"><img class="brand" style="height: 45px;"
                                            src="https://www.skycoin.net/static/media/logo.d3da7a19.svg"></a> <b>Node
      Checker</b>

      <!-- <a href="{% url 'status-checker:uninterruptedly'%}"> Online uninterruptedly rank</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
